################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IngestToEventHub/bin/Debug
/IngestToEventHub/obj/Debug
/packages
/ReadFromEventHub/obj/Debug
/ReadFromEventHub/bin/Debug
